* {
  font-family: "Barlow", sans-serif;
}

body {
  background-color: #eff6ff;
}

main {
  display: flex;
  height: 100vh;

  justify-content: center;
  align-items: center;
}

.main {
  display: flex;
  box-shadow: 1px 1px 50px 50px rgba(0, 0, 0, 0.05);
}

.main-registration {
  display: flex;
  flex-direction: column;

  min-width: 607px;
  margin: 70px 35px 70px 35px;
}

.main-registration p {
  opacity: 0.6;
}

.main-registration__img {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 650px;
  height: 40px;
  margin-top: 30px;
}

.main-registration__article {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 10px;
}

.main-registration__article p {
  opacity: 0.3;
}

.main-registration__input {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.main-registration__input input {
  border: none;
  width: 235px;
  height: 40px;
}

.main-registration__menu {
  margin-top: 25px;
}

.main-registration__select {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.main-registration__select p {
  cursor: pointer;
  opacity: 0.8;
  padding: 5px;
}

.main-registration__select p:hover {
  background-color: #00000060;
}

.main-background {
  max-height: 800px;
}

.main-background img {
  max-height: 800px;
  max-width: 759px;
}

.btn {
  display: flex;

  align-self: flex-start;

  cursor: pointer;
  font-weight: 700;
  color: white;
  text-decoration: none;
  padding: 0.8em 1em calc(0.8em + 3px);
  border-radius: 3px;
  background: rgb(124, 95, 229);
  box-shadow: 0 -3px rgba(52, 39, 98, 0.3) inset;
  transition: 0.2s;
  border: none;
}

.facebook,
.linkedin {
  cursor: pointer;
  width: 235px;
  height: 47px;
}

/* Анимация кнопок */
@keyframes bounce {
  0%,
  20%,
  60%,
  100% {
    transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    transform: translateY(-20px);
    transform: translateY(-20px);
  }

  80% {
    transform: translateY(-10px);
    transform: translateY(-10px);
  }
}

.btn:active {
  background: rgb(90, 47, 163);
}

.facebook:hover {
  animation: bounce 1s;
}

.linkedin:hover {
  animation: bounce 1s;
}
