* {
  font-family: "Barlow", sans-serif;
  font-size: 19px;
}

body {
  background-color: #eff6ff;
}

main {
  display: flex;
  height: 100vh;

  justify-content: center;
  align-items: center;
}

input {
  outline: none;

  border-left: 2px solid #c4c3f5;

  border-top: 2px solid #02020c0c;
  border-right: 2px solid #02020c0c;
  border-bottom: 2px solid #02020c0c;
}

.create-account {
  min-width: 200px;
  align-self: flex-start;
  cursor: pointer;
  font-weight: 700;
  color: white;
  text-decoration: none;
  padding: 0.8em 1em calc(0.8em + 3px);
  border-radius: 3px;
  background: rgb(124, 95, 229);
  box-shadow: 0 -3px rgba(52, 39, 98, 0.3) inset;
  transition: 0.2s;
  border: none;
}

.main {
  display: flex;
  box-shadow: 1px 1px 50px 50px rgba(0, 0, 0, 0.05);
}

.main-registration {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  min-width: 520px;
  margin: 70px 35px 70px 35px;
}

.main-registration p {
  opacity: 0.6;
}

.main-registration__form-social,
.main-registration__form-data {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

.main-registration__form-data input {
  width: 230px;
  height: 40px;
}

.main-registration__select {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 30px;
}

.main-background > img {
  display: flex;
  max-height: 800px;
  max-width: 759px;
}

.main-registration__notifications {
  font-size: 15px;
  opacity: 0.5;
}

.facebook,
.linkedin {
  cursor: pointer;
  width: 235px;
  height: 47px;
}

/* Анимация кнопок */
@keyframes bounce {
  0%,
  20%,
  60%,
  100% {
    transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    transform: translateY(-20px);
    transform: translateY(-20px);
  }

  80% {
    transform: translateY(-10px);
    transform: translateY(-10px);
  }
}

.create-account:active {
  background: rgb(90, 47, 163);
}

.animation {
  animation: bounce 1s;
}
